
<body>
  <div
    data-iframe-width="150"
    data-scorlling="yes"
    data-iframe-height="270"
    data-share-badge-id="2c96222f-dc78-4597-a8f4-595130f11972"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="82782e5b-3869-4b1b-9d4f-f29300d336ef"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="4afac7a5-a040-47d0-9cb6-bc55f657955b"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="e8988c11-7a1b-4f89-b63d-34868c04b2f8"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="9672a295-fc6a-4feb-a510-707ae849e9c5"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="00a0ac77-8e37-4035-8a29-d1d2cae1179b"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="b3ae1509-567c-473c-97c6-bc0bbb8b4898"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="817caeaf-9400-4d8d-82e0-23ce0e996c15"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="ec4a06b9-d8eb-47cd-907c-307845620ebd"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="e57b6457-f061-43bc-883b-b8318b77bf66"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="cb209670-08c3-4152-896e-d077e916db8b"
    data-share-badge-host="https://www.credly.com"
  >
  </div>
</body>
<script
  type="text/javascript"
  async
  src="//cdn.credly.com/assets/utilities/embed.js"></script>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
</style>
