---
import Layout from "../layouts/Layout.astro";
const links = {
  "https://medium.com/@nageswarchedella/soaring-under-scrutiny-the-triumph-of-project-hawk-3a01f7ab3ab1":
    "Soaring Under Scrutiny: The Triumph of Project Hawk",
  "https://medium.com/@nageswarchedella/comparing-fault-tolerance-elixir-beam-vs-nestjs-node-js-f21426d3e3ad":
    "Comparing Fault Tolerance: Elixir/BEAM vs NestJS/Node.js",
  "https://medium.com/@nageswarchedella/the-rise-of-asha-from-village-girl-to-president-e963be41c4a8": `The Rise of Asha: From Village Girl to President`,
  "https://medium.com/@nageswarchedella/beyond-the-village-boundaries-6d0860acbe5c":
    "Beyond the Village Boundaries",
  "https://medium.com/@nageswarchedella/reflections-in-chrome-c24e064df26f":
    "Reflections in Chrome",
  "https://medium.com/@nageswarchedella/the-mirage-of-menus-2eee95b1e117":
    "The Mirage of Menus",
  "https://medium.com/@nageswarchedella/my-journey-with-rust-and-cryptography-has-started-5ef200484eb4":
    "My Journey with Rust and Cryptography has Started",
};

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout title="Blogs">
  <div class="mx-auto p-4">
    <p>
      Here are the blogs I have written in <a
        href="https://medium.com/@nageswarchedella"
        >Medium.
      </a>
      <ul class="list-disc list-inside mt-4 space-y-2 max-w-2xl mx-auto">
        {
          Object.entries(links).map(([url, title]) => (
            <li class="flex items-center text-green-300">
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 hover:text-green-700 hover:underline"
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </p>
    <br />
    <p class="text-2xl">My posts in the website</p>
    <ul>
      {
        posts.map((post: { id: any; data: { title: unknown } }) => (
          <li class="text-green-300">
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p>
      Migration in the website is in progress. I will be adding more blogs to
      the website.
    </p>
  </div>
</Layout>
