---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Education">
  <div>
    <ul>
      <li>
        <a href="https://www.gprec.ac.in"
          ><h3>G.Pulla Reddy Engineering College(Autonomus),Kurnool</h3></a
        >
        <p>
          Bachelors of Technology in Electronics and Communication Engineering
        </p>
        <p>June 2017 - April 2021</p>
      </li>
    </ul>
  </div>
</Layout>
