---
import Layout from '../layouts/Layout.astro';
import Education from '../components/education.astro';
import Experience from '../components/experience.astro';
---

<Layout title="Nageswar Chedella">

	<p class="p-1">Hi, I am Nageswar Chedella. I am a Software engineer.</p>
	Check out my <a href="/badges" class="p-1">badges</a> and <a href="/blogs" class="p-1">blogs</a>.
	<Experience styles="p-1"/>
	<Education styles="p-1" />

	<p>Till then you can check my <a href="https://bit.ly/nageswar" target="_blank">previous website</a> or <a href="https://www.linkedin.com/in/nageswarchedella/" target="_blank">LinkedIn</a> profile.</p>


</Layout>
