---
import Layout from '../layouts/Layout.astro';
import InProgess from '../components/react/InProgess';
---

<Layout title="Nageswar Chedella">
	<main>
		<p>Hi, I am Nageswar Chedella. I am a Software engineer.</p>
		<InProgess />
		<p>Till then you can check my <a href="https://bit.ly/nc-r" target="_blank">previous website</a> or <a href="https://www.linkedin.com/in/nageswarchedella/" target="_blank">LinkedIn</a> profile.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
