---
import ReactResume from "../components/react/Resume"
---
<main>
  <ReactResume />
</main>

<style>
  body {
    margin: 1rem;
    width: auto;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: center;
  }
</style>