---
const {styles } = Astro.props;
---
<div class={styles}>
    <h2>Education</h2>
    <ul>
        <li>
        <h3>University of California, Berkeley</h3>
        <p>Bachelor of Science in Electrical Engineering and Computer Sciences</p>
        <p>August 2016 - May 2020</p>
        </li>
    </ul>
</div>