---
const {styles } = Astro.props;
---

<div class={styles}>
    <h2>Professional Experience</h2>
    <ul class="flex flex-col gap-4">
        <li>
            <h3 class="text-xl font-bold">Software Engineer (G3)</h3>
            <p class="text-base font-semibold">PalTech</p>
            <p class="text-sm">January 2024 - Present</p>
        </li>
        <li>
            <h3 class="text-xl font-bold">Software Engineer (G2)</h3>
            <p class="text-base font-semibold">PalTech</p>
            <p class="text-sm">January 2023 - December 2023</p>
        </li>
        <li>
            <h3 class="text-xl font-bold">Associate Software Engineer (G1)</h3>
            <p class="text-base font-semibold">PalTech</p>
            <p class="text-sm">January 2022 - December 2022</p>
        </li>
        <li>
            <h3 class="text-xl font-bold">Trainee Software Engineer (G0) </h3>
            <p class="text-base font-semibold">PalTech</p>
            <p class="text-sm">June 2021 - December 2021</p>
        </li>
    </ul>
</div>
