---
---

<div>
    <h2>Professional Experience</h2>
    <ul class="flex gap-4">
        <li>
            <h3>Software Engineer (G3)</h3>
            <p class="text-base">PalTech</p>
            <p>January 2024 - Present</p>
        </li>
        <li>
            <h3>Software Engineer (G2)</h3>
            <p>PalTech</p>
            <p>January 2023 - December 2023</p>
        </li>
        <li>
            <h3>Associate Software Engineer (G1)</h3>
            <p>PalTech</p>
            <p>January 2022 - December 2022</p>
        </li>
        <li>
            <h3>Trainee Software Engineer (G0) </h3>
            <p>PalTech</p>
            <p>June 2021 - December 2021</p>
        </li>
    </ul>
</div>