---
let theme = 'light';
if (typeof localStorage !== 'undefined') {
  theme = localStorage.getItem('theme') || 'light';
}
---

<button
    id="themeToggle"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
>
    {theme === 'light' ? 'Dark Mode' : 'Light Mode'}
</button>

<style>
    /* Simple styling */
    button {
        cursor: pointer; /* Indicate it's clickable */
        margin-bottom: 1rem; /* Add some space below the button*/
    }
</style>

<script is:inline>
    const themeToggle = document.querySelector('#themeToggle');
    const html = document.querySelector('html');
    let currentTheme = localStorage.getItem('theme') || 'light';

    // Set initial theme
    html.classList.add(currentTheme);
    themeToggle.textContent = currentTheme === 'light' ? 'Dark Mode' : 'Light Mode';

    themeToggle.addEventListener('click', () => {
        currentTheme = currentTheme === 'light' ? 'dark' : 'light';
        html.classList.remove('light', 'dark');
        html.classList.add(currentTheme);
        localStorage.setItem('theme', currentTheme);
        themeToggle.textContent = currentTheme === 'light' ? 'Dark Mode' : 'Light Mode';
    });
</script>
